@layer components {
  .passflow-button {
    @apply passflow-relative passflow-overflow-hidden passflow-transition-all passflow-rounded-[4px] passflow-cursor-pointer passflow-flex passflow-items-center passflow-justify-center;
  }

  .passflow-button:focus-visible {
    @apply focus-visible:passflow-outline-none;
  }

  /* Button variant */
  .passflow-button--primary {
    @apply passflow-text-White passflow-bg-Primary passflow-shadow-[0_3px_15px_0_rgba(12,89,221,.35)] hover:passflow-bg-Purple-Dark focus-visible:passflow-bg-Purple-Dark;
  }

  .passflow-button--secondary {
    @apply passflow-bg-White passflow-border-[1px] passflow-border-solid passflow-border-Primary passflow-text-Primary hover:passflow-text-Purple-Dark hover:passflow-border-Purple-Dark focus-visible:passflow-border-Purple-Dark;
  }

  .passflow-button--outlined {
    @apply passflow-bg-White passflow-border-[1px] passflow-border-solid passflow-border-Grey-Four passflow-text-Dark hover:passflow-bg-Grey-Four focus-visible:passflow-bg-Grey-Four;
  }

  .passflow-button--warning {
    @apply passflow-bg-Warning passflow-text-White passflow-shadow-[0_5px_9px_0_rgba(216,93,93,.25)] hover:passflow-bg-Warning-Dark hover:passflow-shadow-[0_5px_9px_0_rgba(112,93,216,.25)] focus-visible:passflow-bg-Warning-Dark focus-visible:passflow-shadow-[0_5px_9px_0_rgba(112,93,216,.25)];
  }

  .passflow-button--clean {
    @apply passflow-bg-White passflow-border-none;
  }

  .passflow-button--provider {
    @apply passflow-bg-Background hover:passflow-bg-Grey-Four focus-visible:passflow-bg-Grey-Four;
  }

  .passflow-button--dark {
    @apply passflow-text-White passflow-bg-Dark-Three hover:passflow-opacity-90 focus-visible:passflow-opacity-90 passflow-shadow-dark;
  }

  /* Button size */
  .passflow-button--small {
    @apply passflow-max-w-[28px] passflow-w-full passflow-h-[28px] passflow-p-[6px];
  }

  .passflow-button--medium {
    @apply passflow-max-w-[66px] passflow-w-full passflow-h-[32px] passflow-px-[12px] passflow-py-[7px] passflow-text-body-2-medium;
  }

  .passflow-button--big {
    @apply passflow-max-w-[336px] passflow-min-w-[40px] passflow-w-full passflow-h-[48px] passflow-px-[8px] passflow-py-[15px] passflow-text-body-2-semiBold;
  }

  .passflow-button--primary:disabled,
  .passflow-button--warning:disabled,
  .passflow-button--dark:disabled {
    @apply passflow-cursor-not-allowed passflow-bg-Grey-Two !passflow-shadow-none hover:passflow-bg-Grey-Two;
  }

  .passflow-button--secondary:disabled,
  .passflow-button--outlined:disabled {
    @apply passflow-cursor-not-allowed passflow-bg-White !passflow-shadow-none !passflow-border-Grey-Four !passflow-text-Grey-Two hover:passflow-bg-White;
  }

  .passflow-button--clean:disabled {
    @apply passflow-cursor-not-allowed passflow-bg-transparent passflow-opacity-50;
  }

  .passflow-button--with-icon {
    @apply passflow-gap-[8px];
  }

  .passflow-button--as-icon {
    @apply passflow-w-max passflow-h-max passflow-p-0;
  }
}
