@layer components {
  .passflow-field {
    @apply passflow-min-h-[48px] passflow-w-full passflow-px-[12px] passflow-py-[11px] passflow-rounded-[4px] passflow-flex passflow-items-center passflow-justify-start passflow-bg-Background passflow-text-body-2-medium passflow-text-Dark placeholder:passflow-text-Grey-One;
  }

  .passflow-field--focused {
    @apply focus-visible:passflow-outline-Primary focus-visible:passflow-outline-1 focus-visible:passflow-outline;
  }

  .passflow-field--warning {
    @apply passflow-outline-Warning passflow-outline-[1px] passflow-outline focus-visible:passflow-outline-Warning;
  }

  .passflow-field:disabled {
    @apply passflow-border-Grey-Four passflow-text-Grey-One passflow-bg-Background passflow-cursor-not-allowed;
  }

  .passflow-field-otp {
    @apply passflow-w-[48px] passflow-h-[48px] passflow-rounded-[4px] passflow-bg-Background passflow-border-solid passflow-text-Dark passflow-text-body-2-medium passflow-text-center;
  }
}
