@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    src: url("@/assets/fonts/Inter-Medium.woff2") format("woff2"), url("@/assets/fonts/Inter-Medium.woff") format("woff"),
      url("@/assets/fonts/Inter-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gasoek One";
    font-style: normal;
    src: url("@/assets/fonts/GasoekOne-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    src: url("@/assets/fonts/Inter-SemiBold.woff2") format("woff2"), url("@/assets/fonts/Inter-SemiBold.woff") format("woff"),
      url("@/assets/fonts/Inter-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    src: url("@/assets/fonts/Inter-Bold.woff2") format("woff2"), url("@/assets/fonts/Inter-Bold.woff") format("woff"),
      url("@/assets/fonts/Inter-Bold.ttf") format("truetype");
  }
}
