@import 'tailwindcss/base';
@import '@/styles/font.css';

@import 'tailwindcss/components';
@import '@/styles/button.css';
@import '@/styles/field.css';

@import 'tailwindcss/utilities';

@layer components {
  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #passflow-wrapper {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;

    @apply passflow-outline-offset-0 passflow-outline-1;

    overflow-x: hidden;
  }

  .passflow-secondary-font {
    font-family: 'Gasoek One', sans-serif;
    font-style: normal;
  }

  /* RIPPLE */
  .passflow-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: passflow-ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.3);
  }

  @keyframes passflow-ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
}
