.ad {
  background-position: -48px -27px;
}
.ae {
  background-position: -72px -27px;
}
.af {
  background-position: -96px -27px;
}
.ag {
  background-position: -120px -27px;
}
.ai {
  background-position: -144px -27px;
}
.al {
  background-position: -168px -27px;
}
.am {
  background-position: -192px -27px;
}
.an {
  background-position: -216px -27px;
}
.ao {
  background-position: -240px -27px;
}
.aq {
  background-position: -264px -27px;
}
.ar {
  background-position: -288px -27px;
}
.as {
  background-position: -312px -27px;
}
.at {
  background-position: -336px -27px;
}
.au {
  background-position: -360px -27px;
}
.aw {
  background-position: -384px -27px;
}
.ax {
  background-position: -0px -51px;
}
.az {
  background-position: -24px -51px;
}
.ba {
  background-position: -48px -51px;
}
.bb {
  background-position: -72px -51px;
}
.bd {
  background-position: -96px -51px;
}
.be {
  background-position: -120px -51px;
}
.bf {
  background-position: -144px -51px;
}
.bg {
  background-position: -168px -51px;
}
.bh {
  background-position: -192px -51px;
}
.bi {
  background-position: -216px -51px;
}
.bj {
  background-position: -240px -51px;
}
.bl {
  background-position: -264px -51px;
}
.bm {
  background-position: -288px -51px;
}
.bn {
  background-position: -312px -51px;
}
.bo {
  background-position: -336px -51px;
}
.br {
  background-position: -360px -51px;
}
.bs {
  background-position: -384px -51px;
}
.bt {
  background-position: -0px -75px;
}
.bw {
  background-position: -24px -75px;
}
.by {
  background-position: -48px -75px;
}
.bz {
  background-position: -72px -75px;
}
.ca {
  background-position: -96px -75px;
}
.cc {
  background-position: -120px -75px;
}
.cd {
  background-position: -144px -75px;
}
.cf {
  background-position: -168px -75px;
}
.cg {
  background-position: -192px -75px;
}
.ch {
  background-position: -216px -75px;
}
.ci {
  background-position: -240px -75px;
}
.ck {
  background-position: -264px -75px;
}
.cl {
  background-position: -288px -75px;
}
.cm {
  background-position: -312px -75px;
}
.cn {
  background-position: -336px -75px;
}
.co {
  background-position: -360px -75px;
}
.cr {
  background-position: -384px -75px;
}
.cu {
  background-position: -0px -99px;
}
.cv {
  background-position: -24px -99px;
}
.cw {
  background-position: -48px -99px;
}
.cx {
  background-position: -72px -99px;
}
.cy {
  background-position: -96px -99px;
}
.cz {
  background-position: -120px -99px;
}
.de {
  background-position: -144px -99px;
}
.dj {
  background-position: -168px -99px;
}
.dk {
  background-position: -192px -99px;
}
.dm {
  background-position: -216px -99px;
}
.do {
  background-position: -240px -99px;
}
.dz {
  background-position: -264px -99px;
}
.ec {
  background-position: -288px -99px;
}
.ee {
  background-position: -312px -99px;
}
.eg {
  background-position: -336px -99px;
}
.eh {
  background-position: -360px -99px;
}
.er {
  background-position: -384px -99px;
}
.es {
  background-position: -0px -123px;
}
.et {
  background-position: -24px -123px;
}
.eu {
  background-position: -48px -123px;
}
.fi {
  background-position: -72px -123px;
}
.fj {
  background-position: -96px -123px;
}
.fk {
  background-position: -120px -123px;
}
.fm {
  background-position: -144px -123px;
}
.fo {
  background-position: -168px -123px;
}
.fr {
  background-position: -192px -123px;
}
.ga {
  background-position: -216px -123px;
}
.gb {
  background-position: -240px -123px;
}
.gd {
  background-position: -264px -123px;
}
.ge {
  background-position: -288px -123px;
}
.gg {
  background-position: -312px -123px;
}
.gh {
  background-position: -336px -123px;
}
.gi {
  background-position: -360px -123px;
}
.gl {
  background-position: -384px -123px;
}
.gm {
  background-position: -0px -147px;
}
.gn {
  background-position: -24px -147px;
}
.gq {
  background-position: -48px -147px;
}
.gr {
  background-position: -72px -147px;
}
.gs {
  background-position: -96px -147px;
}
.gt {
  background-position: -120px -147px;
}
.gu {
  background-position: -144px -147px;
}
.gw {
  background-position: -168px -147px;
}
.gy {
  background-position: -192px -147px;
}
.hk {
  background-position: -216px -147px;
}
.hn {
  background-position: -240px -147px;
}
.hr {
  background-position: -264px -147px;
}
.ht {
  background-position: -288px -147px;
}
.hu {
  background-position: -312px -147px;
}
.ic {
  background-position: -336px -147px;
}
.id {
  background-position: -360px -147px;
}
.ie {
  background-position: -384px -147px;
}
.il {
  background-position: -0px -171px;
}
.im {
  background-position: -24px -171px;
}
.in {
  background-position: -48px -171px;
}
.iq {
  background-position: -72px -171px;
}
.ir {
  background-position: -96px -171px;
}
.is {
  background-position: -120px -171px;
}
.it {
  background-position: -144px -171px;
}
.je {
  background-position: -168px -171px;
}
.jm {
  background-position: -192px -171px;
}
.jo {
  background-position: -216px -171px;
}
.jp {
  background-position: -240px -171px;
}
.ke {
  background-position: -264px -171px;
}
.kg {
  background-position: -288px -171px;
}
.kh {
  background-position: -312px -171px;
}
.ki {
  background-position: -336px -171px;
}
.xk {
  background-position: -144px 3px;
}
.km {
  background-position: -360px -171px;
}
.kn {
  background-position: -384px -171px;
}
.kp {
  background-position: -0px -195px;
}
.kr {
  background-position: -24px -195px;
}
.kw {
  background-position: -48px -195px;
}
.ky {
  background-position: -72px -195px;
}
.kz {
  background-position: -96px -195px;
}
.la {
  background-position: -120px -195px;
}
.lb {
  background-position: -144px -195px;
}
.lc {
  background-position: -168px -195px;
}
.li {
  background-position: -192px -195px;
}
.lk {
  background-position: -216px -195px;
}
.lr {
  background-position: -240px -195px;
}
.ls {
  background-position: -264px -195px;
}
.lt {
  background-position: -288px -195px;
}
.lu {
  background-position: -312px -195px;
}
.lv {
  background-position: -336px -195px;
}
.ly {
  background-position: -360px -195px;
}
.ma {
  background-position: -384px -195px;
}
.mc {
  background-position: -0px -219px;
}
.md {
  background-position: -24px -219px;
}
.me {
  background-position: -48px -219px;
}
.mf {
  background-position: -72px -219px;
}
.mg {
  background-position: -96px -219px;
}
.mh {
  background-position: -120px -219px;
}
.mk {
  background-position: -144px -219px;
}
.ml {
  background-position: -168px -219px;
}
.mm {
  background-position: -192px -219px;
}
.mn {
  background-position: -216px -219px;
}
.mo {
  background-position: -240px -219px;
}
.mp {
  background-position: -264px -219px;
}
.mq {
  background-position: -288px -219px;
}
.mr {
  background-position: -312px -219px;
}
.ms {
  background-position: -336px -219px;
}
.mt {
  background-position: -360px -219px;
}
.mu {
  background-position: -384px -219px;
}
.mv {
  background-position: -0px -243px;
}
.mw {
  background-position: -24px -243px;
}
.mx {
  background-position: -48px -243px;
}
.my {
  background-position: -72px -243px;
}
.mz {
  background-position: -96px -243px;
}
.na {
  background-position: -120px -243px;
}
.nc {
  background-position: -144px -243px;
}
.ne {
  background-position: -168px -243px;
}
.nf {
  background-position: -192px -243px;
}
.ng {
  background-position: -216px -243px;
}
.ni {
  background-position: -240px -243px;
}
.nl {
  background-position: -264px -243px;
}
.no {
  background-position: -288px -243px;
}
.np {
  background-position: -312px -243px;
}
.nr {
  background-position: -336px -243px;
}
.nu {
  background-position: -360px -243px;
}
.nz {
  background-position: -384px -243px;
}
.om {
  background-position: -0px -267px;
}
.pa {
  background-position: -24px -267px;
}
.pe {
  background-position: -48px -267px;
}
.pf {
  background-position: -72px -267px;
}
.pg {
  background-position: -96px -267px;
}
.ph {
  background-position: -120px -267px;
}
.pk {
  background-position: -192px -267px;
}
.pl {
  background-position: -216px -267px;
}
.pn {
  background-position: -240px -267px;
}
.pr {
  background-position: -264px -267px;
}
.ps {
  background-position: -288px -267px;
}
.pt {
  background-position: -312px -267px;
}
.pw {
  background-position: -336px -267px;
}
.py {
  background-position: -360px -267px;
}
.qa {
  background-position: -384px -267px;
}
.ro {
  background-position: -0px -291px;
}
.rs {
  background-position: -24px -291px;
}
.ru {
  background-position: -48px -291px;
}
.rw {
  background-position: -72px -291px;
}
.sa {
  background-position: -96px -291px;
}
.sb {
  background-position: -120px -291px;
}
.sc {
  background-position: -144px -291px;
}
.sd {
  background-position: -168px -291px;
}
.se {
  background-position: -192px -291px;
}
.sg {
  background-position: -216px -291px;
}
.sh {
  background-position: -240px -291px;
}
.si {
  background-position: -264px -291px;
}
.sk {
  background-position: -288px -291px;
}
.sl {
  background-position: -312px -291px;
}
.sm {
  background-position: -336px -291px;
}
.sn {
  background-position: -360px -291px;
}
.so {
  background-position: -384px -291px;
}
.sr {
  background-position: -0px -315px;
}
.ss {
  background-position: -24px -315px;
}
.st {
  background-position: -48px -315px;
}
.sv {
  background-position: -72px -315px;
}
.sy {
  background-position: -96px -315px;
}
.sz {
  background-position: -120px -315px;
}
.tc {
  background-position: -144px -315px;
}
.td {
  background-position: -168px -315px;
}
.tf {
  background-position: -192px -315px;
}
.tg {
  background-position: -216px -315px;
}
.th {
  background-position: -240px -315px;
}
.tj {
  background-position: -264px -315px;
}
.tk {
  background-position: -288px -315px;
}
.tl {
  background-position: -312px -315px;
}
.tm {
  background-position: -336px -315px;
}
.tn {
  background-position: -360px -315px;
}
.to {
  background-position: -384px -315px;
}
.tr {
  background-position: -0px -339px;
}
.tt {
  background-position: -24px -339px;
}
.tv {
  background-position: -48px -339px;
}
.tw {
  background-position: -72px -339px;
}
.tz {
  background-position: -96px -339px;
}
.ua {
  background-position: -120px -339px;
}
.ug {
  background-position: -144px -339px;
}
.us {
  background-position: -168px -339px;
}
.uy {
  background-position: -192px -339px;
}
.uz {
  background-position: -216px -339px;
}
.va {
  background-position: -240px -339px;
}
.vc {
  background-position: -264px -339px;
}
.ve {
  background-position: -288px -339px;
}
.vg {
  background-position: -312px -339px;
}
.vi {
  background-position: -336px -339px;
}
.vn {
  background-position: -360px -339px;
}
.vu {
  background-position: -384px -339px;
}
.wf {
  background-position: -0px -363px;
}
.ws {
  background-position: -24px -363px;
}
.ye {
  background-position: -48px -363px;
}
.za {
  background-position: -96px -363px;
}
.zm {
  background-position: -120px -363px;
}
.zw {
  background-position: -144px -363px;
}

.icon-warning {
  filter: invert(62%) sepia(14%) saturate(7187%) hue-rotate(321deg) brightness(90%) contrast(86%);
}

.icon-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(7%) hue-rotate(80deg) brightness(103%) contrast(100%);
}
